.idea/
/.run/
*.pyc
.DS_Store
.vscode
__pycache__/
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
.pytest_cache
.*/
__*__/

# pytest-profiling outputs
prof/

# Demos files
*.wav
